@import "./fonts.css";

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.highlight-color {
    color: #F16D7F;
}

.header {
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 41px;
}

.header__left__magnifier {
    padding-top: 11px;
}

.header__right {
    padding-top: 8px;
    display: flex;
    gap: 33px;
    align-items: center;
}

.promo {
    display: flex;
    background-color: #F1E4E6;
    align-items: center;
}

.promo__img {
    margin-left: -230px;
}

.promo__text {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    font-family: Lato;
    color: #222;
    margin-bottom: 90px;
}

.promo__text__header {
    font-size: 48px;
    font-weight: 900;
}

.promo__text__heading {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.offer {
    padding-top: 65px;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer_wide {
    grid-column: span 3;
}

.offer__card {
    position: relative;
    display: flex;
    background: rgba(33, 22, 22, 0.70);
    align-items: center;
    justify-content: center;
}

.offer__card img {
    width: 100%;
    z-index: -1;
}

.offer__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    align-items: center;
}

.offer__text__header {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.offer__text__heading {
    font-size: 24px;
    font-weight: 700;
}

.catalog {
    padding-top: 31px;
    padding-bottom: 60px;
    font-family: Lato;
}

.catalog__header {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.catalog__heading {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

.catalog__box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: 581px;
    margin-top: 48px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
}

.catalog__cart {
    padding: 24px 28px 24px 16px;
    background-color: #F8F8F8;
}

.catalog__cart__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.catalog__cart__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
}

.catalog__cart__price {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.button-browse {
    display: block;
    margin: 48px auto 65px auto;
    padding: 15px 39px;
    border: 1px solid #F16D7F;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
}