@import "./fonts.css";

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.highlight-color {
    color: #F16D7F;
}

.header {
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 41px;
}

.header__left__magnifier {
    padding-top: 11px;
}

.header__right {
    padding-top: 8px;
    display: flex;
    gap: 33px;
    align-items: center;
}

.promo {
    display: flex;
    background-color: #F1E4E6;
    align-items: center;
}

.promo__img {
    margin-left: -230px;
}

.promo__text {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    font-family: Lato;
    color: #222;
    margin-bottom: 90px;
    margin-left: 64px;
}

.promo__text__header {
    font-size: 48px;
    font-weight: 900;
}

.promo__text__heading {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}

.offer {
    padding-top: 65px;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.offer_wide {
    grid-column: span 3;
}

.offer__card {
    position: relative;
    display: flex;
    background: rgba(33, 22, 22, 0.70);
    align-items: center;
    justify-content: center;
}

.offer__card img {
    width: 100%;
    z-index: -1;
}

.offer__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    align-items: center;
}

.offer__text__header {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.offer__text__heading {
    font-size: 24px;
    font-weight: 700;
}

.catalog {
    padding-top: 31px;
    padding-bottom: 60px;
    font-family: Lato;
}

.catalog__header {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.catalog__heading {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

.catalog__box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: 581px;
    margin-top: 48px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
}

.catalog__item_selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(58, 56, 56, 0.86);
}

.catalog__item img {
    height: 415px;
    z-index: -1;
}

.catalog__cart {
    padding: 24px 28px 24px 16px;
    background-color: #F8F8F8;
}

.catalog__cart__name {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.catalog__cart__description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
}

.catalog__cart__price {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.catalog__cart__button {
    position: absolute;
    opacity: 1;
    color: #FFF;
    border: 1px solid #FFF;
    background: none;
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 8px 16px;
}

.button-browse {
    display: block;
    margin: 48px auto 0px auto;
    padding: 15px 39px;
    border: 1px solid #F16D7F;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
}

.advantages {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #222;
    margin-top: 35px;
    display: flex;
    gap: 30px;
    font-family: Lato;
}

.advantages__item {
    color: #FBFBFB;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 68px 40px 34px;
    justify-items: center;
}

.advantages__item__heading {
    font-size: 20px;
    font-weight: 400;
}

.advantages__item__text {
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .promo__img {
        height: 368px;
        margin-left: -32px;
    }

    .promo__text {
        margin-bottom: 14px;
        margin-left: 39px;
    }

    .promo__text__header {
        font-size: 44px;
    }

    .promo__text__heading {
        font-size: 24px;
    }

    .offer {
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 19px;
    }

    .catalog {
        padding-top: 45px;
        padding-bottom: 70px;
    }

    .catalog__box {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-top: 72px;
    }

    .button-browse {
        margin-top: 32px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .display-none {
        display: none;
    }

    .promo {
        height: 363px;
    }

    .promo__text {
        margin: auto;
    }

    .promo__text__header {
        font-size: 38px;
    }

    .promo__text__heading {
        font-size: 24px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .offer__card {
        height: 248px;
        width: 343px;
    }

    .offer_wide {
        height: 111px;
    }

    .offer_wide img {
        height: 111px;
        object-fit: cover;
    }

    .catalog {
        padding-top: 0px;
    }

    .catalog__heading {
        margin-top: 3px;
    }

    .catalog__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 64px;
    }

    .catalog__item {
        width: 360px;
    }

    .button-browse {
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

@media (max-width: 374px) {

    .center {
        padding-left: calc(50% - 144px);
        padding-right: calc(50% - 144px);
    }

    .display-none {
        display: none;
    }

    .promo {
        height: 363px;
    }

    .promo__text {
        margin: auto;
    }

    .promo__text__header {
        font-size: 36px;
    }

    .promo__text__heading {
        font-size: 22px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .offer__card {
        width: 288px;
    }

    .offer_wide img {
        height: 111px;
        object-fit: cover;
    }

    .catalog {
        padding-top: 0px;
    }

    .catalog__header {
        font-size: 28px;
    }

    .catalog__heading {
        margin-top: 3px;
        font-size: 12px;
    }

    .catalog__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 64px;
    }

    .catalog__item img {
        width: 304px;
        height: auto;
    }

    .catalog__cart {
        padding-right: 16px;
    }

    .button-browse {
        margin-top: 40px;
        margin-bottom: 25px;
    }
}